<div class="w-full min-w-[70vw] max-w-[80vw]">
  <div class="flex w-full animate-slide-in-fwd-center justify-between">
    <p class="flex items-center gap-2 text-xl font-bold">
      <mat-icon
        aria-hidden="false"
        aria-label="Inventory icon"
        fontIcon="inventory"
      ></mat-icon>
      Products table
    </p>
    <button
      mat-button
      color="primary"
      (click)="onCreateProductDialogOnClick()"
      class="px-4 py-2"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Add icon"
        fontIcon="add"
      ></mat-icon>
      Create Products
    </button>
  </div>

  <mat-drawer-container
    class="flex min-h-80 w-full animate-slide-in-fwd-center items-center justify-center rounded-3xl bg-[#FAE6E8]"
    autosize
  >
    <div class="example-sidenav-content h-full">
      <section>
        <table
          mat-table
          [dataSource]="dataSource"
          class="mat-elevation-z8 w-full"
        >
          <!-- ID Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Name Column -->

          <!-- <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container> -->

          <!-- Email Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element">{{ element.price }}</td>
          </ng-container>

          <!-- Role Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">
              {{
                element.description.length > 30
                  ? element.description.substring(0, 30) + "..."
                  : element.description
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>Image</th>
            <td mat-cell *matCellDef="let element">
              {{
                element.image.length > 25
                  ? element.image.substring(0, 25) + "..."
                  : element.image
              }}
            </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
              <p class="pl-6">Actions</p>
            </th>
            <td mat-cell class="flex gap-2" *matCellDef="let element">
              <button disabled mat-icon-button color="primary">
                <!-- (click)="openEditDialogOnClick(element)" -->
                <mat-icon
                  aria-hidden="false"
                  aria-label="Edit icon"
                  fontIcon="edit"
                ></mat-icon>
              </button>

              <button disabled mat-icon-button color="primary">
                <!-- *ngIf="element.id !== this.loggedUser?.id"
            (click)="deleteOnClick(element.id)" -->
                <mat-icon
                  aria-hidden="false"
                  aria-label="Delete icon"
                  fontIcon="delete"
                ></mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </section>
    </div>
  </mat-drawer-container>
</div>
