<div class="p-6 flex flex-col min-w-80">
  <h2 class="font-semibold text-xl text-center">Login</h2>
  <form class="example-form pt-4">
    <p class="">Username</p>
    <mat-form-field class="w-full">
      <input matInput placeholder="Enter email" />
    </mat-form-field>

    <p class="">Password</p>
    <mat-form-field class="w-full">
      <input matInput placeholder="Enter password" />
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" class="h-full">Login</button>
</div>
