<div class="p-6">
  <h2 class="text-xl font-semibold">Register</h2>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="example-form pt-4">
    <mat-form-field class="example-full-width w-full">
      <mat-label>Username</mat-label>
      <input
        matInput
        ngModel
        required
        name="Username"
        placeholder="Username"
        #first="ngModel"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width w-full">
      <mat-label>Email</mat-label>
      <input
        matInput
        ngModel
        required
        name="Email"
        placeholder="Email"
        #first="ngModel"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width w-full">
      <mat-label>Password</mat-label>
      <input
        matInput
        ngModel
        required
        name="Password"
        placeholder="Password"
        #first="ngModel"
      />
    </mat-form-field>
    <aside class="flex w-full justify-end">
      <button mat-raised-button color="primary" class="h-full">Register</button>
    </aside>
  </form>
</div>
