<section
  class="animate-slide-in-fwd-center flex w-full flex-wrap justify-center gap-8"
>
  <mat-card class="max-w-60">
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <div class="grid w-full py-2">
        <p>Name</p>
        <p>Price</p>
        <p>Available: 5</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="flex w-full justify-center">
        <button mat-raised-button color="primary" class="w-full">BUY</button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="max-w-60">
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <div class="grid w-full py-2">
        <p>Name</p>
        <p>Price</p>
        <p>Available: 5</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="flex w-full justify-center">
        <button mat-raised-button color="primary" class="w-full">BUY</button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="max-w-60">
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <div class="grid w-full py-2">
        <p>Name</p>
        <p>Price</p>
        <p>Available: 5</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="flex w-full justify-center">
        <button mat-raised-button color="primary" class="w-full">BUY</button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="max-w-60">
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <div class="grid w-full py-2">
        <p>Name</p>
        <p>Price</p>
        <p>Available: 5</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="flex w-full justify-center">
        <button mat-raised-button color="primary" class="w-full">BUY</button>
      </div>
    </mat-card-actions>
  </mat-card>
</section>
