<section
  class="flex w-full animate-slide-in-fwd-center flex-wrap justify-center gap-8"
>
  <div
    *ngFor="let product of products"
    color="primary"
    class="duration-400 w-64 rounded-2xl bg-[#FCF0EF] px-4 pt-6 transition-transform hover:animate-drop-2-top"
  >
    <div
      class="relative z-0 grid h-full cursor-pointer content-between justify-between"
    >
      <a
        [routerLink]="['/products/detail', product._id]"
        [state]="{ product: product }"
        class="grid h-full content-between justify-between"
        style="display: block"
      >
        <img
          mat-card-image
          class="rounded"
          [src]="product.image"
          [alt]="product.name"
        />
        <div class="">
          <div class="grid w-full gap-2 pt-2">
            <div class="flex w-full items-center justify-between">
              <p class="text-left text-xl font-medium text-[#100606]">
                {{ product.name }}
              </p>
              <p class="text-right text-lg text-[#e55e54]">
                ${{ product.price }}
              </p>
            </div>
            <p
              *ngIf="!product.stocks?.quantity"
              class="pb-2 text-center text-sm text-gray-700"
            >
              Not Available
            </p>
            <p
              *ngIf="product.stocks?.quantity"
              class="pb-2 text-center text-sm text-gray-700"
            >
              Available: {{ product.stocks?.quantity }}
            </p>
          </div>
        </div>
      </a>
      <mat-card-actions>
        <div class="flex w-full justify-center">
          <button
            mat-raised-button
            color="primary"
            class="duration-400 mb-2 w-full transition-transform hover:-translate-y-0.5 hover:transition"
            (click)="buyProduct(product); $event.stopPropagation()"
          >
            BUY
          </button>
        </div>
      </mat-card-actions>
    </div>
  </div>
</section>
