<main class="flex w-full animate-slide-in-fwd-center gap-24 p-4">
  <aside class="w-1/2">
    <img class="w-full rounded" [src]="product?.image" [alt]="product?.name" />
  </aside>
  <section class="flex w-1/3 flex-col gap-4 pt-[10vh]">
    <p class="text-6xl">{{ product?.name }}</p>
    <p class="text-xl">${{ product?.price }} ARS</p>
    <p>{{ product?.description }}</p>
    <button
      mat-raised-button
      color="primary"
      class="duration-400 mb-2 w-full transition-transform hover:-translate-y-0.5 hover:transition"
      *ngIf="this.product"
      (click)="buyProduct(this.product); $event.stopPropagation()"
    >
      Buy
    </button>
  </section>
</main>
