<div class="flex min-w-80 flex-col p-6">
  <h2 class="text-center text-xl font-semibold">Login</h2>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="example-form pt-4">
    <p class="">Username</p>
    <mat-form-field class="w-full">
      <input matInput ngModel name="Username" placeholder="Enter email" />
    </mat-form-field>

    <p class="">Password</p>
    <mat-form-field class="w-full">
      <input matInput ngModel name="Password" placeholder="Enter password" />
    </mat-form-field>
    <button mat-raised-button color="primary" class="w-full">Login</button>
  </form>
</div>
